@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
        *{
            margin: 0;
            padding: 0;
            overflow-x: hidden;
        }
        body {
            background: black;
        }
        .cursor{
            position: fixed;
            pointer-events: none;
            width: 5vw;
            height: 10vh;
            background: radial-gradient(circle, rgba(255, 255, 255, 0.432) 0%, rgba(255,255,255,0) 80%);
            border-radius: 50%;
            transform: translate(-50%, -50%);
            mix-blend-mode: lighten;
            z-index: 9999;
        }
        .nav{
            height: 13vh;
            position: fixed;
            top: 0;
            z-index: 100;
        }
        .normal-nav{
            display: flex;
            list-style-type: none;
            overflow: hidden;
            background: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(3px); 
            position: fixed;
            top: 0;
            width: 100vw;
            height: 13vh;
            justify-content: space-between;
            align-items: center;
        }
        .normal-nav img{
            width: 5vw;
            height: auto;
            padding-left: 5vw;
        }
        #links{
            display: flex;
            flex-direction: row;
            gap: 3vw;
            padding-right: 5vw;
        }
        li a{
            color: white;
            text-align: center;
            font-family: "Marcellus", serif;
            font-size: 27px;
            text-decoration: none;
            
        }
        .underline-ani {
            display: inline-block;
            position: relative;
        }
        .underline-ani::after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: #ffffff;
            transition: transform 0.3s ease-out;
        }
        .underline-ani:hover::after {
            transform: scaleX(1);
        }
        .hamburger{
            position: fixed;
            font: black;
            top: 0; 
            right: 0;
            height: 100vh;
            width: 100vw;
            background-color: rgba(0, 0, 0, 0.6);
            backdrop-filter: blur(12px);
            list-style: none;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
        }
        .humburger li{
            width: 100%;
            }
        .humburger a{
            width: 100%;
        }
        .menu-button{
            display: none;
        }
        .update-bar { 
            font-family: "Marcellus", serif;
            font-size: 1rem;
            color: #C59C79;
            text-align: center;
            /* background-color: #48192E; */
            background-color:rgba(0, 0, 0, 0.7);
            width: 100vw;
            padding: 10px;
        }

        .hero-section {
            height: 90vh;
            width: 100vw;
            overflow-x: hidden;
            top: 0;
            padding-top: 13vh;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .hero {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 80vh;
        }
        .tag {
                height: 8vh;
                font-size: 2rem;
                color: rgb(255, 255, 255);
                font-family: "Marcellus", serif;
                text-shadow: 0 0 2px rgba(255, 255, 255, 0.4),
                             0 0 4px rgba(255, 255, 255, 0.3),
                             0 0 6px rgba(255, 255, 255, 0.2);
        }

        .hero button{
            border: none;
            cursor: pointer;
            color:rgb(0, 0, 0);
            font-family: Marcellus, serif;
            font-weight: 600;
            background-color:rgba(243, 166, 98, 0.9);
            width: 8.5vw;
            height: 5vh;
            border-radius: 100px;
            font-size: 16px;
            transition: 0.5s all;
        }
       
        .buttons{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2vw;
        }
        .hero button:hover{
            color:rgb(194, 132, 78);
            background-color:rgb(48, 17, 31);
        }
        .hero-section {
            height: 87vh;
            width: auto;
            top: 0;
            padding-top: 13vh;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .hero img {
            height: 50vh; 
            width: auto; 
            padding: 2rem;
        }
        section.countdown {
            height: 90vh;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 3rem;
            background: rgb(36, 13, 16);
            color: white;
            gap: 16px;
        }
        
        div.countdown {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 16px;
        }

        .time-unit {
          text-align: center;
          width: 8vw;
        }
        
        .countdown span {
          font-size: 36px;
          font-weight: bold;
          width: 6vw;
          color: rgb(216, 213, 208);
        }
        
        .label {
          font-size: 18px;
          margin-top: 5px;
          font-weight: bold;
          color: rgb(216, 213, 208);
          width: full;
        }
        
        .colon {
          font-size: 28px;
          font-weight: bold;
          margin: 0 10px;
        }

        .transition {
            margin-top: -2vh;
            margin-bottom: -4vh;
            height: 6vh;
            background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(36, 13, 16));
            backdrop-filter: blur(3px);
        }
        .transition-2 {
            margin-top: -3vh;
            margin-bottom: -1vh;
            height: 4vh;
            background-image: linear-gradient(rgb(58, 35, 43), rgb(197, 156, 121) );
            backdrop-filter: blur(4px);
        }
        .transition-3 {
            margin-top: -3vh;
            margin-bottom: -2vh;
            height: 4vh;
            background-image: linear-gradient(rgb(197, 156, 121),rgb(149,112,131) );
            backdrop-filter: blur(4px);
        }
        .transition-4 {
            margin-top: -3vh;
            margin-bottom: -1vh;
            height: 4vh;
            background-image: linear-gradient(rgb(149,112,131), rgb(55, 21, 36) );
            backdrop-filter: blur(4px);
        }
        /* .transition-5 {
            height: 4vh;
            margin-top: -1vh;
            margin-bottom: -3vh;
            background-image: linear-gradient(rgb(55, 21, 36), rgba(0,0,0,0.01));
            backdrop-filter: blur(2px);
        } */
        .write-section {
            height: 87vh;
            width: auto;
            background: rgb(197, 156, 121);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .write {
            width: 70vw;
            font-family: "Marcellus", serif;
            text-align: center;
        }
        #write-1{
            font-size: 36px;
            font-weight: bold;
            text-align: center;
            padding-bottom: 2rem;
        }
        #write-2{
            font-size: 32px;
        }

        .events-section{
            height: 87vh;
            width: auto;
            background: #957083;
        }
        .events{
            display: flex;
            justify-content: center;
        }
        .evetext{
            margin-top: 2rem;
            font-size: 5vw;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-family: Marcellus, serif;
        }
        .evecards {
            position: relative;
            width: 65vw;
            height: 80vh;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px;
        }

        .card {
            position: absolute;
            width: 20vw;
            height: 70vh;
            border-radius: 50px;
            overflow: hidden;
            transition: all 0.4s ease;
            cursor: pointer;
            filter: brightness(0.85);
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
        }

        .card img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .detail {
            position: absolute;
            bottom: 4px;
            background: rgba(0, 0, 0, 0.6);
            color: white;
            width: 100%;
            padding: 1rem;
            font-size: 14px;
            transform: translateY(100%);
            transition: transform 0.3s ease;
            border-radius: 20px;
        }

        .card:hover .detail {
            transform: translateY(0);
        }
        .card:nth-child(1) { z-index: 5; transform: scale(1); }
        .card:nth-child(2) { left: 35vw; z-index: 4; transform: scale(0.95); }
        .card:nth-child(3) { left: 12vw; z-index: 4; transform: scale(0.95); }
        .card:nth-child(4) { left: 40vw; z-index: 3; transform: scale(0.9); }
        .card:nth-child(5) { left: 4vw; z-index: 3; transform: scale(0.9); }
        .card:hover {
            transform: scale(1.1) !important;
            z-index: 6 !important;
            filter: brightness(1);
        }
        .event-name {
            position: absolute;
            writing-mode: vertical-rl;
            text-orientation: mixed;
            color: white;
            font-size: 1.3vw;
            background: rgba(0,0,0,0.5);
            padding: 10px;
            border-radius: 12px;
            z-index: 2;
            pointer-events: none;
        }
        .event-name.center {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .event-name.right {
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
        }

        .event-name.left {
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
        }


        .sponsors-section {
            background: rgb(55, 21, 36);
            height: 87vh;
        }
        .sponsors-title{
            margin-top: 4rem;
            font-size: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: rgb(231, 211, 220);
            font-family: Marcellus, serif;
        }
        .sponsors-section {
            background: rgb(55, 21, 36);
            height: 87vh;
        }
        .sponsors-title{
            margin-top: 4rem;
            font-size: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: rgb(231, 211, 220);
            font-family: Marcellus, serif;
        }
        
        .treasury-section{
            height: 87vh;
            position: relative;
        }
        .carousel {
            background:rgba(0,0,0,0.5);
            padding: 20px;
            border-radius: 10px; 
        }
        @media (min-width: 1200px) {
            .carousel {
                width: 60vw;
                height: 60vh;
            }
        }
        .slide {
            display: none;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
        }

        .slide.active {
            display: flex;
        }

        .slide img {
            max-width: calc(100% - 40px);
            max-height: calc(100% - 40px);
            /* border-radius: 10px; */
        }

        .carousel-container {
            display: flex;
            align-items: center;
            gap: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .arrow{
            border: none;
            cursor: pointer;
            color:rgba(255, 206, 142,0.8);
            background-color:rgba(0, 0, 0, 0.8);
            font-family: Marcellus, serif;
            width: 35px;
            height: 60px;
            border-radius: 40px;
            font-size: 44px;
            transition: 0.5s;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .arrow:hover{
            color:rgb(0,0,0,0.8);
            background:rgba(255, 206, 142, 0.7);
        }
        .dots {
            position: absolute;
            bottom: 6%;
            left: 50%;
            transform: translateX(-50%);
        }

        .dot {
            display: inline-block;
            width: 12px;
            height: 12px;
            background: rgba(255, 206, 142, 0.5);
            border-radius: 50%;
            margin: 0 5px;
            cursor: pointer;
        }

        .dot.active {
            background: rgba(0,0,0,0.5);
        }
        
        .footer {
            background:rgb(53,27,18);
            padding: 50px 40px;
            box-shadow: 0 -8px 32px rgba(0, 0, 0, 0.6); //for top
            overflow: hidden;
            align-items: center;
        }

        .footer-container {
            width: 95vw;
            margin: 0;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 60px;
        }

        .tag-section {
            text-align: center;
            padding: 20px;
        }

        #tag {
            font-family: 'Cinzel', serif;
            font-size: 2.4rem;
            font-weight: 400;
            color: #d4c4a0;
            text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
            letter-spacing: 4px;
            margin-bottom: 1.2rem;
            overflow: hidden;

                text-shadow: 0 0 2px rgba(255, 255, 255, 0.4),
                             0 0 4px rgba(255, 255, 255, 0.3),
                             0 0 6px rgba(255, 255, 255, 0.2);
        }

        .social {
            display: flex;
            justify-content: center;
            gap: 1rem;
            margin-top: 1.5rem;
        }

        .sdot {
            width: 55px;
            height: 55px;
            background:rgba(0, 0, 0, 0.3);
            border-radius: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.2s ease;
            position: relative;
            overflow: hidden;
        }
        .sdot:hover{
            background: rgba(0, 0, 0, 0.4);
        }
        .sdot i:hover {
            transform: scale(1.2);
            color:rgb(236, 224, 196);
        }
        .sdot i {
            font-size: 32px;
            color: #d4c4a0;
            transition: all 0.3s ease;
            position: relative;
        }

        .map-section {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            height: 30vh;
        }
        .map-frame:hover {
            transform: scale(1.1);
        }
        .map-frame {
            width: 100%;
            height: 100%;
            /* border-radius: 12px;
            border: 3px solid rgb(112, 77, 28); */
            transition: all 0.4s ease;
            overflow: hidden;
        }

        .location {
            text-align: center;
            padding-top: 3rem;
        }

        .adw {
            font-family: 'Marcellus', serif;
            font-size: 1.1rem;
            line-height: 1.6;
            color: #d4c4a0;
            display: block;
            margin-bottom: 25px;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
        }

        .cr {
            font-family: 'Cinzel', serif;
            font-size: 0.9rem;
            color: #a68b5b;
            text-transform: uppercase;
            border-top: 1px solid #8b4513;
            padding-top: 15px;
            display: inline-block;
        }

        @media (max-width: 968px) {
            .footer-container {
                grid-template-columns: 1fr;
                gap: 10px;
                text-align: center;
                width: 85vw;
            }
            .footer {
                padding: 30px;
            }
            #tag {
                font-size: 2.2rem;
            }
            .map-section{
                margin-left: 3rem;
            }
            .map-frame {
                max-width: 100%;
                max-height: 200px;
                border: none;
                box-shadow: none;
            } 
        }

        @media (max-width: 640px) {
            #tag {
                font-size: 1.8rem;
            }
            .sdot {
                width: 45px;
                height: 45px;
            }
            .social {
                gap: 2rem;
            }
            .adw {
                font-size: 1rem;
            }
            .location{
                margin-bottom: 1rem;
            }
            .map-section{
                margin-left: 4px;
            }
        }





        @media (max-width: 1100px) {
            .normal-nav img{
                width: 10vw;
            }
        }
        @media (max-width: 1088px) {
            .size-40{
                font-size: 4vw;
            }
            .normal-nav img{
                width: 8vw;
            }
            .hideOnMobile {
                display: none;
            }
            .menu-button {
                display: block;
            }
            .size-40{
                font-size: 8.5vw;
                overflow-y: hidden;
            }
        }
        @media (max-width: 600px) {
            .normal-nav{
                height: 9vh;
            }
            .normal-nav img{
                width: 12vw;
                padding-left: 5vw;
            }
            .size-40{
                font-size: 8.5vw;
                overflow-y: hidden;
            }
            #links{
                padding-right: 5vw;
            }
            .nav{
                height: 9vh;
            }
        }

        @media screen and (max-width: 600px) {
            section.countdown {
                height: 80vh;
                flex-direction: column;
                justify-content: center;
                gap: 16px;
            }
            div.countdown {
                display: flex;
                justify-content: center;
                gap: 1rem;
            }
            .time-unit {
              width: 12vw;
            }
            
            .countdown span {
              font-size: 18px;
              font-weight: bold;
              width: 10vw;
              color: rgb(216, 213, 208);
            }
            
            .label {
              font-size: 14px;
              margin-top: 5px;
              font-weight: bold;
              color: rgb(216, 213, 208);
              width: 12vw;
            }
            
            .colon {
              font-size: 28px;
              font-weight: bold;
              margin: 0 10px;
            }
        }
        @media (max-width: 600px) {
            .write-section {
                overflow: hidden;
                height: 90vh;
            }
            .write {
                width: 90vw;
            }
            #write-1 {
                font-size: 26px;
                text-align: center;
            }
            #write-2 {
                font-size: 22px;
            }
        }

        @media (max-width: 480px) {
            .write {
                width: 95vw;
            }
            #write-1 {
                font-size: 24px;
                padding-bottom: 1.5rem;
            }
            #write-2 {
                font-size: 20px;
            }
        }
            

        @media (max-width: 600px) {
            .hero-section {
                padding-top: 9vh
            }
            .hero img {
                height: 35vh; 
                width: auto; 
            }    
            .hero button{
                width: 18vw;
                font-size: 14px;
            }
        }
        @media screen and (max-width: 600px){
            .events-section{
                height: 100vh;
            }
            .events{
                flex-direction: column;
                width: 100vw;
            }
            .evetext {
                padding: 1rem;
                font-size: 40px;
            }
            .evecards {
                width: 100vw;
            }
        }

        @media screen and (max-width: 600px){
        .events-section{
            height: 100vh;
            overflow: hidden;
        }
        .events{
            flex-direction: column;
            width: 100vw;
            height: 90vh;
        }
        .evetext {
            height: 15vh;
            margin-top: 3rem;
        }
        .evetext span {
            font-size: 48px;
        }
        .evecards {
            height: 65vh;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            overflow-x: auto;
            padding: 0 1rem;
            gap: 1rem;
            position: relative;
        }

        .card {
            position: relative;
            width: 70vw;
            height: 60vh;
            border-radius: 25px;
            overflow: hidden;
            box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
        }

        .detail {
            bottom: 0;
            color: white;
            width: 100%;
            padding: 1.5rem 1rem 1rem 1rem;
            font-size: 14px;
            transform: translateY(0);
            border-radius: 0 0 25px 25px;
        }

        .event-name {
            color: white;
            font-size: 18px;
            font-weight: bold;
            padding: 12px 16px;
            z-index: 2;
            top: 20px;
            left: 20px;
        }

        .event-name.center,
        .event-name.right,
        .event-name.left {
            top: 20px;
            left: 20px;
            right: auto;
            transform: none;
            writing-mode: horizontal-tb;
        }

        .card:nth-child(1),
        .card:nth-child(2),
        .card:nth-child(3),
        .card:nth-child(4),
        .card:nth-child(5) {
            left: auto;
            z-index: 1;
            transform: none;
            position: relative;
        }
        .card:nth-child(5) {
            margin-right: 32px;
        }
    }

    @media screen and (max-width: 480px){
        .card {
            min-width: 80vw;
            max-width: 80vw;
            height: 55vh;
        }

        .evetext {
            font-size: 32px;
        }

        .event-name {
            font-size: 26px;
            padding: 10px 14px;
        }

        .detail {
            font-size: 24px;
            padding: 1.2rem 0.8rem 0.8rem 0.8rem;
        }
    }